/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.task-in,
.task-out {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
.task-body {
  border: solid rgb(217, 224, 226);
}
.task-title {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  color: rgb(217, 224, 226);
}
